* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #efa69d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}


.menu-icon {
    display: none;
    margin-right: 30px; /*bude potřeba upravit v responsiví části*/
}

.menu-icon img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.logo {
    font-size: 32px;
    color: white;
    user-select: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
}

.navigation .btnLogin-popup {
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 20px;
    transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
    background: white;
    color: black;
}


#dark_mode {
    height: 30px;
    filter: invert(1);
    cursor: pointer;
    margin: 10px;
    margin-left: 40px;
}

.mode-icon {
    transition: opacity 0.3s;
}

.dark-mode .mode-icon {
    content: url(./img/sunny.svg);
}


main {
    display: flex;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.Login {
    margin: 16px auto;
    margin-bottom: 50px;
    display: flex;
    gap: 30px;
}

.Login .wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid #333333;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-self: center;
} 

.wrapper .close-icon img {
    width: 30px;
    height: 30px;
}

.form-box.login {
    display: block;
}

.form-box.signUp {
    display: none;
}

.Login .wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.Login .wrapper .form-box h2{
    font-size: 2em;
    color: #efa69d;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #333333;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #333333;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #333333;
    font-weight: 500;
    padding: 0 35px 0 5px;
}

.input-box p {
    font-size: 1em;
    color: red;
    text-align: center;
    padding-top: 5px;
}

.btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    background: #efa69d;
    color: white;
    font-size: 1em;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}

.About {
    width: 85%;
    margin: 5rem auto;
    margin-bottom: 3rem;
    display: flex;
    gap: 2rem;
}

.container-about-us-description {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-about-us-description h2 {
    font-size: 2em;
    color: #efa69d;
    padding-bottom: 15px;
}

.container-about-us-description p {
    line-height: 18.75px;
    font-size: 1em;
    color: #333333;
}

.grid-about-us-img-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    order: 1;
}

.grid-about-us-img-master,
.grid-about-us-img-slave {
    flex: 1;
}

.grid-about-us-img-slave {
    display: flex;
}

.grid-about-us-img-main img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
}

.grid-about-us-img-main img:hover {
    transform: scale(1.2);
    z-index: 2;
}

.grid-about-us-img-master .image3 {
    position: relative;
    z-index: 0;
} 

.services {
    width: 85%;
    margin: 5rem auto;
    margin-bottom: 3rem;
    display: flex;
    gap: 2rem;
}

.container-services-description {
    display: flex;
    flex-direction: column;
    gap : 5rem;
}

.container-services-description-headline {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start
}

.container-services-description-headline h2 {
    font-size: 2em;
    color: #efa69d;
    padding-bottom: 15px;
    width: 100px;
    height: 100px;
}

.container-services-description-headline p {
    padding-top: 15px;
    line-height: 18.75px;
    font-size: 1em;
    color: #333333;
}
.container-services-section {
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.container-services-section-testing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container-services-section-photo-1,
.container-services-section-photo-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 15px;
}

.container-services-section-photo-1 img,
.container-services-section-photo-2 img {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.container-services-section-settings p {
    padding-bottom: 15px;
    line-height: 18.75px;
    font-size: 1em;
    color: #333333;
}

.contact {
    width: 85%;
    margin: 5rem auto;
    margin-bottom: 3rem;
    display: flex;
    gap: 2rem;
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.container-of-othrs {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.description-text {
    width: 100%;
    line-height: 18.75px;
    font-size: 1em;
    color: #333333;
}

.container-description-headline h2 {
    font-size: 2em;
    color: #efa69d;
    width: 100%;
    height: 100px;
}

.description-text-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.description-text-image img {
    width: 300px;
    height: 300px;
}

.form-contactUs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact .form-group {
    margin-bottom: 30px;
    position: relative;
}

.contact label {
    display: block;
    font-size: 1em;
    color: #333333;
    font-weight: 500;
    margin-bottom: 5px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #cacaca;
    background: transparent;
    border-radius: 6px;
    font-size: 1em;
    color: #333333;
}


.contact button[type="submit"] {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    background: #efa69d;
    color: white;
    font-size: 1em;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
}

footer {
    background-color: #333333;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container a {
    color: #efa69d;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-bottom: 10px;
}

.footer-container a:hover {
    color: #e9877b;
}

.footer-container h6 {
    margin: 0;
    color: white;
    font-size: 14px;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 999;
}

.back-to-top img {
    width: 40px;
    height: 40px;
}


/*DARK MODE*/

body.dark-mode {
    background-color: #000000;
}

body.dark-mode p {
    color: white;
}

.dark-mode .back-to-top img{
    filter: invert(1);
}

.dark-mode .description-text-image img {
    filter: invert(1);
}

.dark-mode header {
    background: #000000;
}

.dark-mode footer {
    background-color: #000000;
}

.dark-mode .close-icon img {
    filter: invert(1);
}

.dark-mode .input-box label {
    color: white;
}

.dark-mode .input-box {
    border-bottom: 2px solid white;
}

.dark-mode .Login .wrapper {
    border: 2px solid white;
}

.dark-mode .input-box input {
    color: white;
}

.dark-mode .contact label {
    color: white;
}

.dark-mode .contact input,
.contact textarea {
    color: white;
}

/*media*/
@media (max-width: 768px) {
    header {
        position: relative;
    }
    header .navigation {
        display: none;
        position: absolute;
        top: 70px;
        width: 100%;
        background-color: #efa69d;
    }
    header .navigation a,
    header .navigation button,
    header .navigation img {
        display: block;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu-icon {
        display: block;
    }
}

@media (max-width: 768px) {
    .About {
        width: 70%;
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 768px) {
    .Login {
        width: 70%;
        flex-direction: column;
        gap: 2rem;
    }
    .Login .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .services {
        width: 70%;
        flex-direction: column;
        gap: 2rem;
        margin: 0 auto;
    }
    .container-services-description-headline h2 {
        height: 40px;
    }
}

@media (max-width: 768px) {
    .contact {
        width: 70%;
        flex-direction: column;
        gap: 2rem;
    }
    .description-text-image {
        display: none;
    }
    .container-of-othrs {
        flex-direction: column;
    }
    .container-description-headline h2 {
        height: 50px;
    }
}

@media (max-width: 768px) {
    .footer-container h6 {
        padding: 10px;
        font-size: 10px;
        line-height: 11.72px;
        font-weight: 700;
    }
}